body
{
background-color:orange;
color:black;
}

hr
{
	color: #f00;
background-color: #f00;
height: 7px;
}


	


hr.about
{

background-color: blue;
height: 2px;
}

div.about
{
	width:80%;
border-top: 3px solid blue;
border-right: 3px solid blue;
border-bottom: 3px solid blue;
border-left: 3px solid blue;
}

ul.header
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}
a.header
{
float:center;
width:15em;
text-decoration:none;
color:white;
background-color:BLACK;
padding:0.2em 0.6em;
border-right:1px solid white;
}
a.header:hover {background-color:green;}
li {display:inline;}




html{ 
height: 100%; 
border: 0; 
padding: 0; 
margin: 0; 
}
body{ 
height: 100%; 
margin: 0; 
padding: 0; 
border: 0; 
}

#spacer{ 
display: block; 
height: 95%; 
float: left; 
width: 2px; /* 1px would be enough this is for display only */ 
font-size: 1px; /* to make sure width is not overridden */ 
padding: 0; 
margin: 0; 
 
}

#contentwrap{ 
display: block; 
width: 99%; /* to suit but leave room for spacer */ 
text-align: center; 
padding: 0; 
margin: 0; 
}

#content{ 
margin: 0; 
padding: 0; 
border: 1px solid orange; 
}

#footer{ 
clear: both; 
height: 5%; 
border-top: 7px solid #FF; 
padding: 0; 
margin: 0; 
}
